<!-- Main content window. -->
<section>
  <div class="container pt-200px">
    <h1 class="search-heading lspacing-0-2em">ПОИСК</h1>
  </div>
  <div class="search-bar-group h-70px">
    <div class="search-bar b-1px-s">
      <input type="search" placeholder="Введите любую тему"/>
    </div>
    <div class="search-btn-wrapper b-1px-s btrr-50per bbrr-50per w-70px h-70px">
      <button type="button" class="search-btn-v1 br-50per">
        <img src="./img/srch-symbol-white.png" alt="search">
      </button>
    </div>
  </div>
</section>
