.offset-block {
  width: 100%;
  height: 150px;

  background: var(--clr-secondary);
}

section {
  min-height: 300px;
}

section:nth-of-type(2n - 1) {
  background: var(--clr-primary) !important;
}
section:nth-of-type(2n) {
  background: var(--clr-secondary) !important;
}
section.bg-top-inclined::before,
section.bg-bot-inclined::after {
  height: 150px !important;
}
section.bg-top-inclined:nth-of-type(2n - 1)::before {
  background: var(--clr-secondary) !important;
}
section.bg-top-inclined:nth-of-type(2n)::before {
  background: var(--clr-primary) !important;
}
section.bg-bot-inclined::after {
  background: var(--clr-secondary) !important;
}

/* Articles */
.articles-container {
  padding: 0 15%;

  width: 100%;
  height: auto;
}

.article-card {
  margin-bottom: 80px;

  display: flex;
  justify-content: space-between;
}

.article-card__meta {
  flex: 0 1 35%;
  text-align: right;
}

.meta__title {
  margin-bottom: 15px;
  font-size: 1.1em;
  font-weight: bold;
}
.meta__authors {
  margin-bottom: 5px;
}

.meta__venue-year {
  font-style: italic;
  font-weight: lighter;
}

.meta__rating {;
}

.article-card__content {
  flex: 0 1 63%;
  display: flex;
  flex-direction: column;
}

.content__heading {
  text-align: center;
}


/* Authors */
.authors-container {
  padding: 0 20%;

  width: 100%;
  height: auto;
}